.vscode/launch.json
frontend/devtools_options.yaml
frontend/linux/flutter/generated_plugins.cmake
frontend/windows/flutter/generated_plugins.cmake
frontend/macos/Flutter/GeneratedPluginRegistrant.swift
frontend/windows/flutter/generated_plugin_registrant.cc
frontend/windows/flutter/generated_plugins.cmake
frontend/windows/flutter/generated_plugin_registrant.cc
frontend/macos/Flutter/GeneratedPluginRegistrant.swift
frontend/linux/flutter/generated_plugins.cmake
frontend/pubspec.lock
.idea/libraries/Dart_Packages.xml
frontend/macos/Flutter/GeneratedPluginRegistrant.swift
frontend/pubspec.lock
frontend/pubspec.yaml
backend/superando-limites-879db-firebase-adminsdk-iprus-271d459561.json
debug.log
.idea/other.xml
.idea/superando_limites.iml
.idea/caches/deviceStreaming.xml
.idea/libraries/Dart_Packages.xml
frontend/pubspec.lock
frontend/pubspec.yaml
frontend/android/build.gradle
frontend/android/gradle.properties
frontend/android/app/build.gradle
frontend/android/gradle/wrapper/gradle-wrapper.properties
backend/gcp-data-access.json
backend/superando-limites-26cfd-firebase-adminsdk-x91on-7efdbae973.json
frontend/android/gradle.properties
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/android_gradle_build.json
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/build.ninja
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/cmake_install.cmake
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/CMakeCache.txt
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/metadata_generation_command.txt
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/prefab_config.json
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/.cmake/api/v1/reply/cache-v2-1a37af58b4aaa1f071c6.json
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-0fcaf7ffa3b472a1d0d4.json
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-88ad8d61e87522b5e0db.json
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/.cmake/api/v1/reply/index-2025-03-13T17-16-05-0436.json
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/CMakeFiles/cmake.check_cache
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/CMakeFiles/rules.ninja
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/CMakeFiles/TargetDirectories.txt
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeCCompiler.cmake
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeCXXCompiler.cmake
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_C.bin
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_CXX.bin
frontend/android/app/.cxx/Debug/z1s15a54/arm64-v8a/CMakeFiles/3.18.1-g262b901-dirty/CMakeSystem.cmake
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/android_gradle_build.json
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/build.ninja
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/cmake_install.cmake
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/CMakeCache.txt
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/metadata_generation_command.txt
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/prefab_config.json
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/.cmake/api/v1/reply/cache-v2-bbfa6da2e69d2b22a7e6.json
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-7a7af2f5ad4dc468472d.json
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-7610d8ddad70ec8eae73.json
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/.cmake/api/v1/reply/index-2025-03-13T17-16-25-0840.json
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/CMakeFiles/cmake.check_cache
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/CMakeFiles/rules.ninja
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/CMakeFiles/TargetDirectories.txt
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/CMakeFiles/3.18.1-g262b901-dirty/CMakeCCompiler.cmake
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/CMakeFiles/3.18.1-g262b901-dirty/CMakeCXXCompiler.cmake
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_C.bin
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_CXX.bin
frontend/android/app/.cxx/Debug/z1s15a54/armeabi-v7a/CMakeFiles/3.18.1-g262b901-dirty/CMakeSystem.cmake
frontend/android/app/.cxx/Debug/z1s15a54/x86/android_gradle_build.json
frontend/android/app/.cxx/Debug/z1s15a54/x86/build.ninja
frontend/android/app/.cxx/Debug/z1s15a54/x86/cmake_install.cmake
frontend/android/app/.cxx/Debug/z1s15a54/x86/CMakeCache.txt
frontend/android/app/.cxx/Debug/z1s15a54/x86/metadata_generation_command.txt
frontend/android/app/.cxx/Debug/z1s15a54/x86/prefab_config.json
frontend/android/app/.cxx/Debug/z1s15a54/x86/.cmake/api/v1/query/client-agp/cache-v2
frontend/android/app/.cxx/Debug/z1s15a54/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
frontend/android/app/.cxx/Debug/z1s15a54/x86/.cmake/api/v1/query/client-agp/codemodel-v2
frontend/android/app/.cxx/Debug/z1s15a54/x86/.cmake/api/v1/reply/cache-v2-e4abfc1c65003778e66b.json
frontend/android/app/.cxx/Debug/z1s15a54/x86/.cmake/api/v1/reply/cmakeFiles-v1-ee5fd9c4ab374014dd6d.json
frontend/android/app/.cxx/Debug/z1s15a54/x86/.cmake/api/v1/reply/codemodel-v2-be149b5ac81fa8db4266.json
frontend/android/app/.cxx/Debug/z1s15a54/x86/.cmake/api/v1/reply/index-2025-03-13T17-16-27-0054.json
frontend/android/app/.cxx/Debug/z1s15a54/x86/CMakeFiles/cmake.check_cache
frontend/android/app/.cxx/Debug/z1s15a54/x86/CMakeFiles/rules.ninja
frontend/android/app/.cxx/Debug/z1s15a54/x86/CMakeFiles/TargetDirectories.txt
frontend/android/app/.cxx/Debug/z1s15a54/x86/CMakeFiles/3.18.1-g262b901-dirty/CMakeCCompiler.cmake
frontend/android/app/.cxx/Debug/z1s15a54/x86/CMakeFiles/3.18.1-g262b901-dirty/CMakeCXXCompiler.cmake
frontend/android/app/.cxx/Debug/z1s15a54/x86/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_C.bin
frontend/android/app/.cxx/Debug/z1s15a54/x86/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_CXX.bin
frontend/android/app/.cxx/Debug/z1s15a54/x86/CMakeFiles/3.18.1-g262b901-dirty/CMakeSystem.cmake
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/android_gradle_build.json
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/build.ninja
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/cmake_install.cmake
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/CMakeCache.txt
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/metadata_generation_command.txt
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/prefab_config.json
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/.cmake/api/v1/query/client-agp/cache-v2
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/.cmake/api/v1/reply/cache-v2-0e15f275c84283b3bf61.json
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-20f6e149671aedec4d48.json
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/.cmake/api/v1/reply/codemodel-v2-cce48d9262face926b37.json
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/.cmake/api/v1/reply/index-2025-03-13T17-16-28-0100.json
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/CMakeFiles/cmake.check_cache
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/CMakeFiles/rules.ninja
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/CMakeFiles/TargetDirectories.txt
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/CMakeFiles/3.18.1-g262b901-dirty/CMakeCCompiler.cmake
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/CMakeFiles/3.18.1-g262b901-dirty/CMakeCXXCompiler.cmake
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_C.bin
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/CMakeFiles/3.18.1-g262b901-dirty/CMakeDetermineCompilerABI_CXX.bin
frontend/android/app/.cxx/Debug/z1s15a54/x86_64/CMakeFiles/3.18.1-g262b901-dirty/CMakeSystem.cmake
frontend/android/gradle.properties
